@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white antialiased selection:bg-white selection:text-black;
    overflow-x: hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-zinc-500;
}
